<a href="https://colab.research.google.com/github/Prabhjot410/word-count-using-spark/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

installing pyspark

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 43.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=455458b63c97a5bffa6250557d331bffef7b40465fb987b59dbd439cd4abb703
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
def add(num1,num2):
  sum = num1 + num2
  return sum
add(20,10)

30

In [ ]:
ref = lambda a,b : a+b #lambda do the compution
ref(10,20)

30

import SparkContext, SparkConf

In [3]:
from pyspark import SparkContext, SparkConf

create object of SparkContext which is masternode on local

In [4]:
context = SparkContext("local","GNESparkApp")
context

this function split the line into words

In [5]:
words = lambda line : line.split(" ")
words

execute flatmap function to get words from file

In [6]:
file = context.textFile('input.txt') # rdd to achieve Faster and efficient MapReduce operations.
file

input.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

we wil get data structure of words from file

In [7]:
words_1 = file.flatMap(words)
words_1

PythonRDD[2] at RDD at PythonRDD.scala:53

In [8]:
#create labmda to add 2 numbers
add = lambda a,b : a + b
add

In [9]:
#cretae lambda to create key value pair for word as a tuple
words_tuple = lambda words_1 : (words_1, 1)

In [10]:
#craete a word map
word_map = words_1.map(words_tuple)
word_map

PythonRDD[3] at RDD at PythonRDD.scala:53

In [11]:
#create word count
word_count = word_map.reduceByKey(add)
word_count

PythonRDD[8] at RDD at PythonRDD.scala:53

In [12]:
#save the ouput of word count
word_count.saveAsTextFile("Output1")
print("Data Saved😁👍 ")

Data Saved😁👍

In [247]:
import pandas as pd

In [226]:
df = pd.read_csv("/content/Output1/part-00000", sep=" ",header=None, 
                 names=["word", "count"])

In [227]:
df.head()

              word count
0         ('Shot',    1)
1  ('composition',    1)
2          ('was',    5)
3          ('too',    1)
4         ('good',    1)

In [234]:
df["word"] = df["word"].str.strip('(').astype(str)

In [233]:
df["count"] = df["count"].str.strip(')').astype(int)

In [240]:
df["word"] = df["word"].str.replace("',", "")

In [243]:
df["word"] = df["word"].str.replace(",", "")

In [244]:
df.head()

          word  count
0         Shot      1
1  composition      1
2          was      5
3          too      1
4         good      1

In [248]:
df[(df["count"] >= 4)]

      word  count
2      was      5
6       is      4
12      in      7
17      of     15
18     the     27
26      us      5
45       a      9
56     and     17
76      as      4
79    that      8
103     to      4
126    Ram      5
184  Bheem      4